/* disable css validation for workspace */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html {
  font-size: 62.5%;
}

body {
  @apply bg-black;
}

body * {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  @apply m-0 p-0 text-base text-white;
}

body a {
  transition: 0.2s color;
}
